<h1>Usage</h1>
<p>Upload a file to /data_files via POST</p>
<p>Get ID of file</p>
<p>Use GET /data_files/ID to receive converted file urls</p>
<p>
  Example Use:<br/>
<form action="/data_files" method="POST" enctype="multipart/form-data">
  <input type="file" name="data_file">
  <input type="submit" value="Send">
</form>
</p>
